@import "src/scss/config";
@import "src/scss/typo";
@import "src/scss/button";

.title {
   max-width: 550px;
   margin-top: 70px;
   margin-bottom: 105px;
}


.nav-bar {
   
   padding-bottom: 135px;

   .search-bar {
   height: 40px;
   width: 500px;
   padding: 3px 20px;
   border: 1px solid grey;
   border-radius: 22px;
   box-shadow:  6px 3px 30px -15px black;
   }
}

.score-descr {

   display: flex;
   flex-direction: column;
   align-items: center;

   .city-score {
      margin-bottom: 30px ;
   }

   .scores {
   display: flex;
   justify-content: space-around;
   border-radius: 10px;
   padding: 20px 20px;

   background-color:rgb(255, 255, 255);
   box-shadow: 3px 3px  50px -15px black;

      .scores-left{
         padding-right: 75px;

      }
      .scores-right {
         padding-left: 75px;

      }
   }

   .about {
      margin-top: 90px;
   }
   .summary {
      width: 80%;
      margin-top: 20px;
      padding: 0 20px 50px 20px;
   }

   display: none;
}


@import "src/scss/mobile"