@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
   font-family: "Noto Sans",sans-serif;
   color: white;
}

.title {
   font-size: 1.8rem;
}

.search-bar {
   font-family: "Noto Sans";
   font-size: 1.05rem;
}

.submit-btn {
   font-family: "Noto Sans";
   font-size: 1.06rem;
   font-weight: 700;
   color: #E74C3C;
}

.city-score {
   font-size: 1.6rem;
}

.scores-left,
.scores-right{
   font-weight: 700;
   font-size: 1.3rem;
   color: #205A96;
   line-height: 2.5rem;
}

.about {
   font-size: 1.6rem;
}

.summary {
   line-height: 2rem;
   font-size: 1.3rem;
}
